#include <physical_layouts.dtsi>

/ {
    shoedler54_layout: shoedler54_layout {
        compatible = "zmk,physical-layout";
        display-name = "Shoedler54";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   63       0     0     0>
            , <&key_physical_attrs 100 100  100   63       0     0     0>
            , <&key_physical_attrs 100 100  200   21       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   21       0     0     0>
            , <&key_physical_attrs 100 100  500   47       0     0     0>
            , <&key_physical_attrs 100 100  932   47       0     0     0>
            , <&key_physical_attrs 100 100 1032   21       0     0     0>
            , <&key_physical_attrs 100 100 1132    0       0     0     0>
            , <&key_physical_attrs 100 100 1232   21       0     0     0>
            , <&key_physical_attrs 100 100 1332   63       0     0     0>
            , <&key_physical_attrs 100 100 1432   63       0     0     0>
            , <&key_physical_attrs 100 100    0  163       0     0     0>
            , <&key_physical_attrs 100 100  100  163       0     0     0>
            , <&key_physical_attrs 100 100  200  121       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  121       0     0     0>
            , <&key_physical_attrs 100 100  500  147       0     0     0>
            , <&key_physical_attrs 100 100  932  147       0     0     0>
            , <&key_physical_attrs 100 100 1032  121       0     0     0>
            , <&key_physical_attrs 100 100 1132  100       0     0     0>
            , <&key_physical_attrs 100 100 1232  121       0     0     0>
            , <&key_physical_attrs 100 100 1332  163       0     0     0>
            , <&key_physical_attrs 100 100 1432  163       0     0     0>
            , <&key_physical_attrs 100 100    0  263       0     0     0>
            , <&key_physical_attrs 100 100  100  263       0     0     0>
            , <&key_physical_attrs 100 100  200  221       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  221       0     0     0>
            , <&key_physical_attrs 100 100  500  247       0     0     0>
            , <&key_physical_attrs 100 100  932  247       0     0     0>
            , <&key_physical_attrs 100 100 1032  221       0     0     0>
            , <&key_physical_attrs 100 100 1132  200       0     0     0>
            , <&key_physical_attrs 100 100 1232  221       0     0     0>
            , <&key_physical_attrs 100 100 1332  263       0     0     0>
            , <&key_physical_attrs 100 100 1432  263       0     0     0>
            , <&key_physical_attrs 100 100    0  363       0     0     0>
            , <&key_physical_attrs 100 100  100  363       0     0     0>
            , <&key_physical_attrs 100 100  200  321       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  321       0     0     0>
            , <&key_physical_attrs 100 100  500  347       0     0     0>
            , <&key_physical_attrs 100 100  932  347       0     0     0>
            , <&key_physical_attrs 100 100 1032  321       0     0     0>
            , <&key_physical_attrs 100 100 1132  300       0     0     0>
            , <&key_physical_attrs 100 100 1232  321       0     0     0>
            , <&key_physical_attrs 100 100 1332  363       0     0     0>
            , <&key_physical_attrs 100 100 1432  363       0     0     0>
            , <&key_physical_attrs 100 100  395  438     900   445   488>
            , <&key_physical_attrs 100 100  503  463    1600   553   513>
            , <&key_physical_attrs 100 100  609  521    4100   659   571>
            , <&key_physical_attrs 100 100  823  521 (-4100)   873   571>
            , <&key_physical_attrs 100 100  929  463 (-1600)   979   513>
            , <&key_physical_attrs 100 100 1037  438  (-900)  1087   488>
            ;
    };
};
