meta:
  engine: 4.1.0
points:
  key.spacing: U
  key.tags: key
  zones:
    matrix:
      anchor:
        shift: [150, -150] # Fix KiCad placement
      columns:
        c0: # Outer
        c1: # Pinky
        c2: # Ring
          key.stagger: 6
        c3: # Middle
          key.stagger: 4
        c4: # Index
          key.stagger: -3
        c5: # Inner
          key.stagger: -2
      rows:
        r1: # Bottom
        r2: # Home
        r3: # Above
        r4: # Top
    thumb:
      anchor:
        ref: matrix_c5_r1
        shift: [-1.3*U, -1.05*U]
      columns:
        c3: # Thumb-outer
        c4: # Thumb-middle
          key.spread: 20
          key.splay: -7
          key.origin: [-12, -9]
        c5: # Thumb-inner
          key.spread: 20
          key.splay: -28
          key.origin: [-10, -9]
      rows:
        r0: # Thumb
    mcu:
      key.tags:
        - helper
      anchor:
        - ref: matrix_c5_r4
          shift: [u/2+18/2+1.6,u/2-33/2]
    screw_1:
      key.tags: 
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_c0_r4
          - ref: matrix_c0_r3
          - ref: matrix_c1_r4
          - ref: matrix_c1_r3
    screw_2:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_c5_r4
          - ref: matrix_c5_r3
          - ref: matrix_c4_r4
          - ref: matrix_c4_r3
    screw_3:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_c0_r1
          - ref: matrix_c0_r2
          - ref: matrix_c1_r1
          - ref: matrix_c1_r2
    screw_4:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: thumb_c4_r0
          - ref: thumb_c5_r0
          - ref: matrix_c5_r1
        shift: [5,2]
    screw_5:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_c4_r2
          - ref: matrix_c4_r1
          - ref: matrix_c3_r2
          - ref: matrix_c3_r1
  # mirror:
  #   ref: matrix_c1_r2
  #   distance: 250

outlines:
  left:
    - where: [key]
      what: rectangle
      size: [U, U]
    - where: [mcu]
      what: rectangle
      size: [18, 33]
    - what: polygon
      points:
        - ref: matrix_c2_r1
          shift: [U/2, -U/2]
        - ref: thumb_c3_r0
          shift: [-U/2, U/2]
        - ref: thumb_c3_r0
          shift: [-U/2, -U/2]
        - ref: thumb_c4_r0
          shift: [-U/2, -U/2]
        - ref: thumb_c5_r0
          shift: [-U/2, -U/2]
        - ref: thumb_c5_r0
          shift: [U/2, -U/2]
        - ref: thumb_c5_r0
          shift: [U/2, U/2]
        - ref: mcu
          shift: [18/2,-80]
        - ref: mcu
          shift: [18/2,33/2]
        - ref: matrix_c5_r4
          shift: [-U/2, U/2]
        - ref: matrix_c2_r1
          shift: [U/2, U/2]
  _keycaps:
    - where: [key]
      what: rectangle
      size: 18
      fillet: 1
    - where: [thumb]
      what: rectangle
      size: 18
      fillet: 1
  _mcu:
    - where: [mcu]
      what: rectangle
      size: [17.78, 33]
    - where: [mcu]
      what: rectangle
      size: [8.94, 7.35]
      operation: stack
      adjust.shift: [0, 33/2-7.35/2+0.7]
  _screws:
    - where: [screw]
      what: circle
      radius: 4.3/2
  preview:
    - what: outline
      name: left
    - what: outline
      name: _keycaps
      operation: stack
    - what: outline
      name: _mcu
      operation: stack
    - what: outline
      name: _screws
      operation: stack

pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: left
    footprints:
      keyswitches:
        where: [key]
        what: ceoloide/switch_choc_v1_v2
        params:
          from: "{{colrow}}"
          to: "{{col.name}}"
          hotswap: true
          choc_v1_support: false
          include_stabilizer_pad: false
          include_plated_holes: false
          reversible: true
        adjust.rotate: 180
      diodes:
        where: /key/
        what: ceoloide/diode_tht_sod123
        params:
          from: "{{colrow}}"
          to: "{{row}}"
          reversible: true
        adjust.shift: [5.7, 0]
        adjust.rotate: 180
      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where: mcu
        params:
          reversible: true
          only_required_jumpers: true
          P10: "r0"
          P3: "r1"
          P4: "r2"
          P5: "r3"
          P2: "r4"
          P15: "c0"
          P18: "c1"
          P16: "c2"
          P8: "c3"
          P9: "c4"
          P19: "c5"
          P6: "DA"
          P7: "CL"
          P14: "CS"
          P20_label: " "
          P21_label: " "
          use_rectangular_jumpers: false
      battery_connector:
        what: ceoloide/battery_connector_jst_ph_2
        where: mcu
        params:
          reversible: true
        adjust:
          shift: [-7.04,-20.5]
          rotate: 90
      on_off_switch:
        what: ceoloide/power_switch_smd_side
        where: mcu
        params:
          from: BAT_P
          to: RAW
          reversible: true
        adjust:
          shift: [-15, 33/2-2]
          rotate: 90
      reset_switch:
        what: ceoloide/reset_switch_smd_side
        where: mcu
        params:
          reversible: true
          include_bosses: true
          include_silkscreen: true
          include_courtyard: true
        adjust:
          shift: [-25, 33/2-2.5]
          rotate: 0
      screws:
        what: ceoloide/mounting_hole_npth
        where: /screw/
        params:
          hole_size: 4.6
          hole_drill: 2.2


