#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de_swiss.h"

&lt { tapping-term-ms = <150>; };
&mt { tapping-term-ms = <150>; };

/ {
    keymap {
      compatible = "zmk,keymap";

        main {
            bindings = <
&mt DEL ESC  &kp DE_N1      &kp DE_N2  &kp DE_N3  &kp DE_N4  &kp DE_N5             &kp DE_N6         &kp DE_N7         &kp DE_N8     &kp DE_N9   &kp DE_N0           &kp DE_SQT
&kp CAPS     &kp DE_Q       &kp DE_W   &kp DE_E   &kp DE_R   &kp DE_T              &kp DE_Z          &kp DE_U          &kp DE_I      &kp DE_O    &kp DE_P            &kp DE_BSLH
&kp LSHIFT   &kp DE_A       &kp DE_S   &kp DE_D   &kp DE_F   &kp DE_G              &kp DE_H          &kp DE_J          &kp DE_K      &kp DE_L    &kp DE_SEMI         &mt RSHIFT DE_UMLAUT
&kp LCTRL    &mt LALT DE_Y  &kp DE_X   &kp DE_C   &kp DE_V   &kp DE_B              &kp DE_N          &kp DE_M          &kp DE_COMMA  &kp DE_DOT  &mt RALT DE_FSLH    &kp RCTRL
                                       &kp LGUI   &lt 1 RET  &mt LCTRL TAB         &mt LSHFT BSPC    &lt 2 SPACE   &kp RGUI
            >;
        };

        sym {
            bindings = <
&trans        &none        &none        &none        &none        &none             &none         &none         &none         &none         &none        &none
&kp DE_PRCNT  &none        &none        &none        &none        &none             &none         &none         &none         &none         &none        &kp DE_CARET
&kp DE_ACUTE  &kp DE_FSLH  &kp DE_LT    &kp DE_LBRC  &kp DE_LPAR  &kp DE_LBKT       &kp DE_RBKT   &kp DE_RPAR   &kp DE_RBRC   &kp DE_GT     &kp DE_BSLH  &kp DE_GRAVE
&kp DE_TILDE  &kp DE_AT    &kp DE_HASH  &kp DE_STAR  &kp DE_PLUS  &kp DE_EXCL       &kp DE_QMARK  &kp DE_MINUS  &kp DE_UNDER  &kp DE_EQUAL  &kp DE_PIPE  &kp DE_DLLR
                                        &trans       &trans       &trans            &trans        &trans        &trans
            >;
        };

        sys {
            bindings = <
&trans  &kp F1  &kp F2        &kp F3            &kp F4           &kp F5       &kp F6           &kp F7           &kp F8           &kp F9     &kp F10  &kp F11
&trans  &none   &kp C_VOL_DN  &kp K_MUTE        &kp C_VOLUME_UP  &none        &kp HOME         &kp PG_UP        &kp PG_DN        &kp END    &none    &kp F12
&trans  &none   &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT       &none        &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT  &none    &trans
&trans  &none   &none         &kp K_BACK        &kp K_FORWARD    &lt 3 0      &kp PRINTSCREEN  &kp LC(LS(TAB))  &kp LC(LS(TAB))  &none      &none    &trans
                              &none             &none            &none        &none            &none            &none
            >;
        };

        bt {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &none  &none  &none  &none  &none  &studio_unlock
&none       &none         &none         &none         &none         &none              &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none              &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none              &none  &none  &none  &none  &none  &none
                                        &none         &none         &none              &none  &none  &none
            >;
        };


        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };
    };
};
